.App {
  text-align: center;
  width: 80%;
  height: 600px;
  margin: 300px auto;
  background-color: gray;
  position: relative;
  overflow: hidden;
}

.point {
  width: 180px;
  height: 240px;
  border-radius: 2px;
  position: absolute;
  transform: translate(-50%, -50%) rotate(-30deg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
}